
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/logo.png" />
    <title>Procura-se Diarista</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/Content/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo"><img src="~/Content/logo.png" class="logo-image" alt="Banner Procura-se Diaristas" /></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/Authentication/Login">Contrate aqui</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="/Authentication/Login">Contrate aqui</a></li>
            </ul>
        </div>
    </nav>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">Procura-se Diarista</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Clique acima e contrate as melhores diaristas do Brasil!</h5>
                </div>
                <div class="row center">
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax"><img src="~/Content/imagem-banner.jpg" alt="Procura-se Diarista"></div>
    </div>

    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><img src="~/Content/icon-ecologico.png" alt="" class="icon-image" /></h2>
                        <h5 class="center">As Melhores Diaristas</h5>
                        <p class="light">Nossas Diaristas passam por um rigoroso processo de avaliação, e você será colocado em contato diretamente com ela!</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><img src="~/Content/icon-economico.png" alt="" class="icon-image" /></h2>
                        <h5 class="center">Econômize</h5>
                        <p class="light">Deixamos sua casa limpa e higienizada, de forma rápida, com tranquilidade e sem pesar no seu bolso, garantimos qualidade!</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><img src="~/Content/icon-limpo.png" alt="" class="icon-image" /></h2>
                        <h5 class="center">Limpeza Profunda</h5>
                        <p class="light">Contrate diaristas especializadas em seu tipo de casa, se você precisa uma limpeza profunda, você a terá!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">Praticidade na hora de escolher a melhor diarista para o seu tipo de residencia.</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="~/Content/imagem-banner1.jpg" alt="Procura-se Diarista"></div>
    </div>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>O Procura-se Diarista te conecta com os melhores Diaristas.</h4>
                    <p class="left-align light">Hoje em dia, praticamente todas as casas precisam de um diarista para deixar tudo em ordem, pois são inúmeras as tarefas domésticas para se realizar durante a semana, e com a correria do dia a dia, não há quem tenha tempo suficiente para cuidar de tudo isso! É por esse motivo que ter uma diarista de confiança faz toda a diferença no bom funcionamento de uma casa. Sabemos da dificuldade que enfrenta uma pessoa que procura por esse serviço, por isso temos um rigoroso processo avaliativo até se concretizar o cadastro da diarista. Com isso conseguimos um controle maior sobre o que estamos anunciando.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot video-section">
            <div class="container">
                <div class="row center">
                    <iframe width="800" height="380" src="https://www.youtube.com/embed/HamXtMJqkS4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="~/Content/imagem-banner2.jpg" alt="Procura-se Diarista"></div>
    </div>
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Sobre Nós</h5>
                    <p class="grey-text text-lighten-4">Somos uma empresa focada no mercado de serviços domésticos, nosso papel é fazer a junção das partes interessadas na realização do serviço de diaristas.</p>

                </div>
                <div class="col l3 s12">
                </div>
                <div class="col l3 s12">
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/materialize.js"></script>
    <script src="~/Scripts/init.js"></script>
</body>
</html>
